body{
	background-color:   #333333;	
}

/*Style pour le conteneur root, pour faire la grille*/
div.root{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 10px;
	
}

/*Style pour chaque carré*/
div.module{
	background-color: #1a1a1a;
	border-radius: 15px;
	width: 100%;
	min-width: 400px;
	max-width: 500px;
	text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/*Style pour chaque petit carré*/
div.litmodule{
	background-color: #1a1a1a;
	border-radius: 15px;
	width: 100%;
	min-width: 200px;
	max-width: 250px;
	text-align: center;
  font-size: 30px;
}

/*--------------------------------------------------------
Module Radio
---------------------------------------------------------*/

img.radio{
	width: 100%;
	min-width: 35px;
	max-width: 100px;
	
}

/*--------------------------------------------------------
Module Selection Radio
---------------------------------------------------------*/

.radioList{
	padding: 0;
	margin : 0;
}

button.radioSelec{
	height: 30px;
	width: 100%;
	border-radius: 0;
	border: 0;
	color: white;
	display: block;
	background-color: #262626;
}

button.radioSelec:hover{
	background-color: #4d4d4d;
}

.radioList{
	overflow-y: scroll;
	height: 300px;
}

.radioElement{
	background-color: black;
	font-size : 13px;
	color : white;
	width : 100%;
	margin-top: 3px;
	display: block;
	text-align: left;
}

.radioElement:hover{
	background-color: #4d4d4d;
	cursor: pointer;
}

.radioElementImage{
	max-height: 50px;
}

/*Pour des bouton invisible*/
.invisible{
	background-color:   #1a1a1a;
	border: 0;
	width: 20%;
	padding: 0;
	min-width: 35px;
	max-width: 100;
	
}


